{% extends "WecampPlusplusBundle:Shared:base.html.twig" %}

{% block title %}WecampPlusplusBundle:List:list{% endblock %}


{% block body %}
<h1>Welcome to the List:list page</h1>
<ul>
    {% for subject in subjects %}
    <li id="subject_{{ subject.id }}">
        <div class="lable_name col-md-6">{{ subject.name }}</div>
        <div class="lable_counts_container col-md-6">
            <div class="lable_counts col-md-6">10</div>
            <div class="plus_button col-md-6"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}