{% extends "WecampPlusplusBundle:Shared:base.html.twig" %}

{% block title %}Add a new Subject{% endblock %}

{% block body %}
    <h1>Add a new Subject</h1>
    <div id="addSubject">
        {{ form(form) }}
    </div>
{% endblock %}
