{% extends "WecampPlusplusBundle:Shared:base.html.twig" %}

{% block title %}Add a new Subject{% endblock %}

{% block body %}
    <h1>Add a new Subject</h1>
    <div id="addSubject">
        {{ form(form) }}
    </div>
    <div class="bob-vertical-align-spacing-thingie alert alert-info" id="added" style="display: none;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Note!</strong> <span id="alertmessage"></span>
    </div>
{% endblock %}
