{% extends "WecampPlusplusBundle:Shared:base.html.twig" %}

{% block title %}Map a Subject{% endblock %}

{% block body %}
    <div class="container">
        <h1>Maps!</h1>
    </div>
{% endblock %}
